<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% block stylesheets %}
                <link href="./templates/css/style.css" rel="stylesheet" type="text/css" />
            {% endblock %}
            <title>Matlandia Junior</title>
        {% endblock %}
    </head>
    <body>
    <div class="container">

        <!-- Header & Slider -->
        <div class="row header">
            <div class="col-5">
                <div class="logo"></div>
            </div>
            <div class="col-7">
                <div class="row menu-up">
                    <div class="col-4">Wpisz kod</div>
                    <div class="col-4">Moje dostępy</div>
                    <div class="col-4">Koszyk</div>
                </div>
            </div>
            <div class="row user">
                <div class="col-12">
                    {{ user.name }} {{ user.surname }} (wyloguj)
                </div>
            </div>
            <div class="row slider">
                <div class="col-12"></div>
            </div>
        </div>     

        <div class="row">
            <div class="col-12">
                Matlandia Junior
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Zalety programu
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Pobierz pełną liste działów i tematów.
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Zobacz program
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                Oferta
                <div class="row">
                    <div class="col-4">Dla ucznia</div>
                    <div class="col-4">Dla rodzica</div>
                    <div class="col-4">Dla mauczyciela</div>
                </div>
            </div>
        </div>

        <div class="row">
            Nasze Programy
            <div class="row">
            {% for programs in otherApps %}
            <div class="col-4">
                <img src=".{{programs.image}}" alt="{{programs.tags}}" width="350" height="219"><br>
                <h1>{{programs.name}}</h1></br>
                <h2>{{programs.tags}}</h2></br>
                {{programs.description}}</br>
                <a href="{{programs.showMoreUrl}}">zobacz więcej ></a>
            </div>
            {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-6">Szybkie menu</div>
            <div class="col-6">FB</div>
        </div>
        <div class="row">
            <div class="col-1">Szybkie menu</div>
        </div>

    <!-- End container -->    
    </div>
        
   
    </body>
</html>
